<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Assets/fontawesome/css/fontawesome.css" />
    <include path="~/Assets/fontawesome/css/brands.css" />
    <include path="~/Assets/fontawesome/css/solid.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/sidebar.css" />
    <include path="~/Content/jquery-ui.css" />
  </styleBundle>
</bundles>