/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    padding: 3px 8px !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
.dropdown-item.active, .dropdown-item:active {
    color: #211B00;
    text-decoration: none;
    background-color: #FFE24D;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 218, 29, 0.55);
}

/*===== Etiqueta de estado =====*/
.estado {
    text-align: center;
    color: white;
    width: 8rem;
    height: 22px;
    background: #198754;
    line-height: 150%;
    border-radius: 40px;
    text-transform:uppercase;
    font-size:13px;
}
    .estado.inactivo {
        background: #DC3545;
    }
    .estado.pendiente {
        background: #756E6E;
    }
    .estado.modificado {
        background: #FFC107;
    }

    /*=========== Imagen de perfil ===========*/
.foto-empleado {
    border-color: #198754;
    border-width: 3px;
    border-style: Solid;
    border-radius: 100px;
    width: 124px;
    height:124px;
    background-size:cover;
    background-position:center;
}
    .foto-empleado.edicion {
        border-color: #3446ED;
    }
    .foto-empleado.inactivo {
        filter:grayscale(1);
    }

hr {
    border: 1px solid #3446ED;
    opacity: 1;
}
tr {
    border-bottom: 1.5px #B9B9B9 solid;
}
.btn-historial {
    background-color: #7D5D2B;
    border-color: #6B5025;
}
    .btn-historial:hover {
        background-color: #5f4723;
    }
    .btn-historial:active {
        background-color: #5f4723 !important;
        border-color: #6B5025 !important;
    }

    /*=============== toggle switch =======================*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switch input {
        opacity: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ffc107;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.containerH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 220px;
    background: #DFE0FF;
    border-radius: 4px;
    gap: 10px;
    color: #001A43;
}

.sobre-secundario {
    color: #6D5E00 !important;
    background: #FFE24D !important;
}

    .sobre-secundario:hover {
        color: #6D5E00 !important;
        background: #e6cc47 !important;
    }

.primario {
    background: #335CA8 !important;
}

th {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-color: #335CA8 !important;
    color: #FFFFFF !important;
    line-height: 4;
    font-size: 11px;
}
    th a {
        text-decoration: none;
        color:#fff;
    }

.dropdown-item:hover, .dropdown-item:focus {
    color: #211B00 !important;
    background-color: #FFE24D !important;
}
option:hover {
    color: #211B00 !important;
    background-color: #FFE24D !important;
}

/*  ===== checkbox ====  */
.chbox {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

    .chbox input[type="checkbox"] {
        float: left;
        margin-left: -1.5em;
    }

    .chbox input[type="checkbox"] {
        width: 1em;
        border-radius: 0.25em;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, 0.25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

        .chbox input[type="checkbox"]:checked {
            background-color: #e3b030;
            border-color: #e3b030;
        }

input[type="checkbox"]:checked[type="checkbox"] {
    /*DarkGoldenrod*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
input[type="checkbox"]:focus {
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffc10759;
}

.form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 218, 29, 0.55);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

    /*  =============  Scrollbar ====================== */
    * {
        scrollbar-width: thin;
        scrollbar-color: #ffda1d #ffffff;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height:12px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #ffda1d;
        border-radius: 10px;
        border: 1px solid #e2c21d;
    }
/* Buttons */
*::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 13px;
    width: 13px;
}
    /* Up*/
    *::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0px 6px 8px 6px;
        border-color: transparent transparent #5f5310 transparent;
    }

        *::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
            border-color: transparent transparent #211B00 transparent;
        }
     /*Down*/
    *::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 6px 0 6px;
        border-color: #5f5310 transparent transparent transparent;
    }

    *::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #211B00 transparent transparent transparent;
        border-width: 8px 6px 0 6px;
    }

    /*Left*/
    *::-webkit-scrollbar-button:single-button:horizontal:increment {
        border-width: 6px 0px 6px 8px;
        border-color: transparent transparent transparent #5f5310;
    }

        *::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
            border-color: transparent transparent transparent #211B00;
        }
    /*rigth*/
    *::-webkit-scrollbar-button:single-button:horizontal:decrement {
        border-width: 6px 8px 6px 0px;
        border-color: transparent #5f5310 transparent transparent;
    }

        *::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
            border-color: transparent #211B00 transparent transparent;
        }

.nav-links::-webkit-scrollbar {
    display: none;
}


/*===================paginador======================*/

.pagination-ys {
    margin: 20px 0;
}

    .pagination-ys > td > table {
        margin-left: auto;
        margin-right: auto;
    }
    .pagination-ys table > tbody > tr {
        border: none;
    }

    .pagination-ys table > tbody > tr
    .pagination-ys table > tbody > tr > td {
        display: block;
    }

    .pagination-ys table > tbody > tr > td > a,
    .pagination-ys table > tbody > tr > td > span {
        position: relative;
        float: left;
        line-height: 1.5;
        text-decoration: none;
        color: #ffffff;
        background-color: #335CA8 !important;
        border: 1px solid #0d6efd;
        margin-left: 2px;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }

    .pagination-ys table > tbody > tr > td > span {
        position: relative;
        float: left;
        line-height: 1.42857143;
        text-decoration: none;
        margin-left: -1px;
        z-index: 2;
        color: #6D5E00;
        background-color: #FFE24D !important;
        border-color: #ffc107;
        cursor: default;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }

    .pagination-ys table > tbody > tr > td:first-child > a,
    .pagination-ys table > tbody > tr > td:first-child > span {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .pagination-ys table > tbody > tr > td:last-child > a,
    .pagination-ys table > tbody > tr > td:last-child > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .pagination-ys table > tbody > tr > td > a:hover,
    .pagination-ys table > tbody > tr > td > span:hover,
    .pagination-ys table > tbody > tr > td > a:focus,
    .pagination-ys table > tbody > tr > td > span:focus {
        color: #ffff;
        background-color: #2e5293 !important;
        border-color: #1b325c;
    }

    /*============= modal =====================*/

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.175);
    border-radius: 0.5rem;
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(1rem - 0.5rem * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: calc(0.5rem - 1px);
    gap: 0.5rem;
}

.modalBackground {
    height: 100%;
    backdrop-filter: blur(1px);
    transition: all 0.3s ease;
}

.modalPopup {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    transition: top 0.3s;
}

.modalBackground {
    height: 100%;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

.modalPopup.show {
    top: 0;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
}